body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* import a local font */
@font-face {
  font-family: "HelveticaNeueLT Com 55 Roman";
  src: url("./assets/Fonts/Neue_Helvetica/HelveticaNeueLTCom-Roman.ttf")
    format("truetype");
}

* {
  font-family: "HelveticaNeueLT Com 55 Roman" !important;
}

.firm-text {
  padding: 4px 2px 1px 2px;
  background-color : #F4D3BE;
  border-radius: 5px;
}

.soft-text {
  padding: 4px 2px 1px 2px;
  background-color : #A2C0D6;
  border-radius: 5px;
}